extends layout
block content
    div.col-xs-7.col-xs-offset-3
        h1 #{name}
        div.panel.panel-primary
            div.panel-heading
                h3.panel-title Contact Us
            div.panel-body
                p If you have any questions, suggestions, or have found a bug; feel free to contact me at <a href='mailto:dchristensen@student.neumont.edu'>dchristensen@student.neumont.edu</a>.
                p If you are reporting a bug, please provide a somewhat detailed explanation of what happened including the steps you took.
